* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.buttons {
    height: 50%;
    display: flex;
    gap: 10px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

